config.signing.keystore_file = PARAM_KEYSTORE_FILE
config.signing.keystore_password = PARAM_KEYSTORE_PASSWORD
config.signing.key_alias = PARAM_KEY_ALIAS
config.signing.key_password = PARAM_KEY_PASSWORD