config.signing.keystore_file = PARAMETER_SIGNING_KEYSTORE_FILE
config.signing.keystore_password = PARAMETER_SIGNING_KEYSTORE_PASSWORD
config.signing.key_alias = PARAMETER_SIGNING_KEY_ALIAS
config.signing.key_password = PARAMETER_SIGNING_KEY_PASSWORD